@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background: #fefefe;
    display: flex;
}
.sideBar{
    height: 20px;
    margin-bottom: 40px;
}
.nav{
    height: 100vh;
    width: 4vw;
    background-color: #f3f3f3;
}

.navButton{
    background-color: #f3f3f3;
    border: none;
    margin: 15px;

}

.main{
    font-family: "Open Sans", sans-serif;
    margin-left: 15px;
    display: flex;
}

#addbutton{
    height: 50px;
    width: 50px;
    background-color: #fefefe;
    border: none;
    margin-left: 150px;
}

.main button{
    height: 45px;
} img{
    height: 22px;

}
.khatka{
    height: 50px;
    width: 50px;
    background-color: #fefefe;
    border: none;
}